html{
    height: 100%;
}

body{
    background: url(https://i.ytimg.com/vi/xA4zOAtPeJ0/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.content{
    color: white;
}
.content span{
    width: 20px;
    height: 20px;
}